<!DOCTYPE html>
<html>
<head>
	<title>U+Activity</title>
	<style>
		body{font-family: arial; font-size: 14px;}
		tr {text-align: left;}
		td {padding: 4px 2px;}
		table {width: 100%;}
		.main {max-width: 1200px; margin: 0 auto;}
		tr:nth-child(2n+1) td {background: #f0f0f0;}
		.bold {font-weight: 800;}
		.deadline {background: red !important; height 2px; line-height: 2px; padding: 2px;}
		small {display: inline-block;}
	</style>
</head>
<body>
<div class="main">
<table>
	<thead>
	<tr>
		<th></th>
		<th>Name</th>
		<th>Jira</th>
		<th>Bitbucket / Last Commit</th>
	</tr>
	</thead>
	<tbody>
	{% set deadline = false %}
	{% for item in users %}

	{% if (item.active == true and deadline == false) %}
		<tr>
			<td colspan="5" class="deadline"></td>
		</tr>
		{% set deadline = true %}
	{% endif %}
	<tr>

		<td>{{ loop.index }}</td>
		<td>{{ item.name }} {%  if item.isValidEmail == false %}<small>{{ item.email }}<small>{% endif %}</td>
		<td>{{ item.getActivityJira|time_diff }}</td>
		<td><a href="{{ item.getActivityBitbucketCommit }}" target="_blank">{{ item.getActivityBitbucket|time_diff }}</a></td>
	</tr>
	{% endfor %}
	</tbody>

</table>
</div>
</body>
</html>